In [2]:
import pandas as pd

m_cols = ['movie_id', "title", "genre"]
movies = pd.read_csv("ml-10M100K/movies.dat", names=m_cols, sep="::", encoding="latin-1", engine="python")

movies['genre'] = movies.genre.apply(lambda x:x.split("|"))
movies.head()

,movie_id,title,genre
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [3]:
t_cols = ['user_id', "movie_id","tag","timestamp"]
user_movie = pd.read_csv("ml-10M100K/tags.dat", names = t_cols, sep="::")
user_movie['tag'] = user_movie['tag'].str.lower()
user_movie.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_8780\2292696926.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  user_movie = pd.read_csv("ml-10M100K/tags.dat", names = t_cols, sep="::")

   user_id  movie_id              tag   timestamp
0       15      4973       excellent!  1215184630
1       20      1747         politics  1188263867
2       20      1747           satire  1188263867
3       20      2424  chick flick 212  1188263835
4       20      2424            hanks  1188263835

In [4]:
movie_tags = user_movie.groupby('movie_id').agg({'tag':list})
movies = movies.merge(movie_tags, on='movie_id', how='left')
movies.head()

,movie_id,title,genre,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","[pixar, pixar, pixar, animation, pixar, animat..."
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]","[for children, game, animals, joe johnston, ro..."
2,3,Grumpier Old Men (1995),"[Comedy, Romance]","[funniest movies, comedinha de velhinhos engra..."
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",[girl movie]
4,5,Father of the Bride Part II (1995),[Comedy],"[steve martin, pregnancy, remake, steve martin..."

In [5]:
r_cols = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv("ml-10M100K/ratings.dat", names=r_cols, sep="::")
ratings.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_8780\3070502828.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv("ml-10M100K/ratings.dat", names=r_cols, sep="::")

   user_id  movie_id  rating  timestamp
0        1       122     5.0  838985046
1        1       185     5.0  838983525
2        1       231     5.0  838983392
3        1       292     5.0  838983421
4        1       316     5.0  838983392

In [6]:
valid_user_ids = sorted(ratings.user_id.unique())[:1000]
ratings = ratings[ratings["user_id"].isin(valid_user_ids)]

movielens = ratings.merge(movies, on="movie_id")
movielens.head()

,user_id,movie_id,rating,timestamp,title,genre,tag
0,1,122,5.0,838985046,Boomerang (1992),"[Comedy, Romance]","[dating, nudity (topless - brief), can't remem..."
1,1,185,5.0,838983525,"Net, The (1995)","[Action, Crime, Thriller]","[computers, computers, internet, irwin winkler..."
2,1,231,5.0,838983392,Dumb & Dumber (1994),[Comedy],"[jeff daniels, jim carrey, stupid, jim carrey,..."
3,1,292,5.0,838983421,Outbreak (1995),"[Action, Drama, Sci-Fi, Thriller]","[biology, gross, disease, futuristmovies.com, ..."
4,1,316,5.0,838983392,Stargate (1994),"[Action, Adventure, Sci-Fi]","[egypt, space, time travel, time travel, alien..."

In [8]:
import numpy as np
movielens.groupby("user_id").agg({'movie_id':len}).agg({'movie_id':[min,max,np.mean,len]})

C:\Users\USER\AppData\Local\Temp\ipykernel_8780\3316262671.py:2: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  movielens.groupby("user_id").agg({'movie_id':len}).agg({'movie_id':[min,max,np.mean,len]})
C:\Users\USER\AppData\Local\Temp\ipykernel_8780\3316262671.py:2: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  movielens.groupby("user_id").agg({'movie_id':len}).agg({'movie_id':[min,max,np.mean,len]})
C:\Users\USER\AppData\Local\Temp\ipykernel_8780\3316262671.py:2: FutureWarning: The provided callable <function mean at 0x000001B43C22C7C0> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  movielens.groupby("user_id").agg({'movie_id':len}).agg({'movie_id':[min,max,np.mean,len]})

      movie_id
min      20.00
max    1668.00
mean    132.83
len    1000.00

In [9]:
movielens.groupby('movie_id').agg({"user_id":len}).agg({'user_id':[min,max,np.mean,len]})

C:\Users\USER\AppData\Local\Temp\ipykernel_8780\1255878574.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  movielens.groupby('movie_id').agg({"user_id":len}).agg({'user_id':[min,max,np.mean,len]})
C:\Users\USER\AppData\Local\Temp\ipykernel_8780\1255878574.py:1: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  movielens.groupby('movie_id').agg({"user_id":len}).agg({'user_id':[min,max,np.mean,len]})
C:\Users\USER\AppData\Local\Temp\ipykernel_8780\1255878574.py:1: FutureWarning: The provided callable <function mean at 0x000001B43C22C7C0> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  movielens.groupby('movie_id').agg({"user_id":len}).agg({'user_id':[min,max,np.mean,len]})

          user_id
min      1.000000
max    496.000000
mean    19.719418
len   6736.000000

In [10]:
print(f'평가값 수 ={len(movielens)}')
movielens.groupby('rating').agg({'movie_id':len})

평가값 수 =132830

        movie_id
rating
0.5          851
1.0         4847
1.5         1247
2.0        10292
2.5         3729
3.0        31706
3.5         9661
4.0        39917
4.5         6949
5.0        23631

In [11]:
movielens['timestamp_rank'] = movielens.groupby(
    'user_id'
)['timestamp'].rank(ascending=False, method='first')
movielens_train = movielens[movielens['timestamp_rank']>5]
movielens_test= movielens[movielens['timestamp_rank']<=5]

In [12]:
from typing import List
from sklearn.metrics import mean_squared_error

def calc_rmse(self,true_rating:List[float],
              pred_rating:List[float])->float:
    return np.sqrt(mean_squared_error(true_rating, pred_rating))

In [13]:
def calc_recall_at_k(true_user2items, pred_user2items, k):
    scores = []
    for user_id in true_user2items.keys():
        r_at_k =_recall_at_k(true_user2items[user_id],
                             pred_user2items[user_id],k)
        scores.append(r_at_k)
    return np.mean(scores)

def _recall_at_k(self,true_items, pred_items,k):
    if len(true_items)==0 or k==0:
        return 0.0
    r_at_k = (len(set(true_items)& set(pred_items[:k])))/len(true_items)
    return r_at_k

def calc_precision_at_k(
        true_user2items, pred_user2items,k
):
    scores=[]
    for user_id in true_user2items.keys():
        p_at_k = _precision_at_k(true_user2items[user_id],
                                 pred_user2items[user_id],k)
        scores.append(p_at_k)
    return np.mean(scores)
def _precision_at_k(true_items, pred_items,k):
    if k==0:
        return 0.0
    p_at_k = (len(set(true_items))) & set(pred_items[:k])/k
    return p_at_k